In [2]:
import pandas as pd

In [10]:
raw_df = pd.read_csv("../data/raw/players.csv", index_col=0)

In [11]:
raw_df.head()

,active_from,active_to,birth_date,college,height,name,position,url,weight,NBA__3ptapg,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,0.0,...,0.0,NaN,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5
1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,0.0,...,NaN,NaN,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4
3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,2.3,...,2.7,NaN,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0
4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4576 entries, 0 to 4575
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   active_from       4576 non-null   int64
 1   active_to         4576 non-null   int64
 2   birth_date        4547 non-null   object
 3   college           4274 non-null   object
 4   height            4575 non-null   object
 5   name              4576 non-null   object
 6   position          4575 non-null   object
 7   url               4576 non-null   object
 8   weight            4570 non-null   float64
 9   NBA__3ptapg       3448 non-null   float64
 10  NBA__3ptpct       2953 non-null   float64
 11  NBA__3ptpg        3448 non-null   float64
 12  NBA_efgpct        3426 non-null   float64
 13  NBA_fg%           4548 non-null   float64
 14  NBA_fg_per_game   4576 non-null   float64
 15  NBA_fga_per_game  4576 non-null   float64
 16  NBA_ft%           4378 non-null   float64
 17  NBA_ft_per_g      4576 non-null   float64
 18  NBA_fta_p_g       4576 non-null   float64
 19  NBA_g_played      4576 non-null   int64
 20  NBA_ppg           4576 non-null   float64
 21  NCAA__3ptapg      1868 non-null   float64
 22  NCAA__3ptpct      1726 non-null   float64
 23  NCAA__3ptpg       1871 non-null   float64
 24  NCAA_efgpct       0 non-null      float64
 25  NCAA_fgapg        2582 non-null   float64
 26  NCAA_fgpct        2583 non-null   float64
 27  NCAA_fgpg         2598 non-null   float64
 28  NCAA_ft           2594 non-null   float64
 29  NCAA_ftapg        2592 non-null   float64
 30  NCAA_ftpg         2598 non-null   float64
 31  NCAA_games        2598 non-null   float64
 32  NCAA_ppg          2598 non-null   float64
dtypes: float64(24), int64(3), object(6)
memory usage: 1.2+ MB

In [14]:
raw_df.describe().T

,count,mean,std,min,25%,50%,75%,max
active_from,4576.0,1985.263330,21.060432,1947.000,1969.000,1987.000,2004.00000,2018.000
active_to,4576.0,1989.450393,21.937301,1947.000,1973.000,1992.000,2009.00000,2018.000
weight,4570.0,208.915974,26.243075,114.000,190.000,210.000,225.00000,360.000
NBA__3ptapg,3448.0,0.851885,1.196153,0.000,0.000,0.300,1.30000,7.800
NBA__3ptpct,2953.0,0.236988,0.161189,0.000,0.125,0.268,0.34000,1.000
NBA__3ptpg,3448.0,0.279118,0.439907,0.000,0.000,0.100,0.40000,3.400
NBA_efgpct,3426.0,0.451435,0.100671,0.000,0.421,0.464,0.49800,1.500
NBA_fg%,4548.0,0.407901,0.105117,0.000,0.366,0.423,0.46400,1.000
NBA_fg_per_game,4576.0,2.458829,1.807253,0.000,1.100,2.000,3.40000,12.100
NBA_fga_per_game,4576.0,5.818226,3.865394,0.000,2.900,5.000,7.92500,23.800
NBA_ft%,4378.0,0.696103,0.140032,0.000,0.632,0.716,0.78200,1.000
NBA_ft_per_g,4576.0,1.298055,1.115394,0.000,0.500,1.000,1.80000,7.800
NBA_fta_p_g,4576.0,1.809419,1.439549,0.000,0.800,1.400,2.40000,11.400
NBA_g_played,4576.0,274.985140,310.743079,1.000,33.000,134.000,459.00000,1611.000
NBA_ppg,4576.0,6.421809,4.738739,0.000,2.900,5.200,8.80000,30.100
NCAA__3ptapg,1868.0,2.321520,2.092701,0.000,0.200,2.100,3.90000,10.800
NCAA__3ptpct,1726.0,0.320698,0.135150,0.000,0.295,0.348,0.38275,1.000
NCAA__3ptpg,1871.0,0.844094,0.801787,0.000,0.100,0.700,1.40000,4.000
NCAA_efgpct,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NCAA_fgapg,2582.0,10.274516,3.633562,1.200,7.900,10.000,12.30000,38.100
NCAA_fgpct,2583.0,0.495974,0.061320,0.201,0.453,0.492,0.53350,1.211
NCAA_fgpg,2598.0,5.052694,1.780048,0.700,3.800,4.900,6.00000,16.700
NCAA_ft,2594.0,0.711055,0.086036,0.295,0.659,0.720,0.77000,1.266
NCAA_ftapg,2592.0,4.029900,1.598179,0.500,2.900,3.800,4.90000,14.400
NCAA_ftpg,2598.0,2.880716,1.211084,0.300,2.100,2.800,3.60000,10.800
NCAA_games,2598.0,98.307544,30.447005,11.000,76.000,106.000,123.00000,152.000
NCAA_ppg,2598.0,13.574057,4.566653,1.600,10.500,13.400,16.20000,44.200

In [15]:
raw_df["position"].unique()

array(['F-C', 'C-F', 'C', 'G', 'F', 'G-F', 'F-G', nan], dtype=object)